<div class="sub-header">
    <div class="row">
        <div class="col col-lg-4">
            <div class="sub-header-search">
                <div class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" placeholder="Tìm kiếm sản phẩm bạn thích">
                <button>Tìm kiếm</button>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="sub-header-text">
                <span>PRESENTS FROM LOVE!</span>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="sub-header-info">
                <div class="order-management">
                    <a href="#">Tra cứu đơn hàng</a>
                </div>
                <div class="languages">
                    <img src="../../../../assets/images/language_vn.jpg" alt="vietnam">
                    <span class="button">VN
                        <i class="fa-solid fa-chevron-down"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
