<app-sub-header></app-sub-header>
<div class="header">
    <div class="row">
        <div class="col-2">
            <div class="header-logo">
                LOGO
            </div>
        </div>
        <div class="col-8">
            <div class="header-navbar">
                <nav class="navbar navbar-expand-lg">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a routerLink="/home" class="navbar-link" routerLinkActive="active">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="navbar-link">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="navbar-link">Đồ customize</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="navbar-link">Sale</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="#" class="navbar-link">Cửa hàng</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-2">
            <div class="header-actions">
                ACTIONS
            </div>
        </div>
    </div>
</div>